*{
    margin: 0 auto;
    padding: 0 auto;
}
body{
    background-color: #2C3E50;
}

.header{
    max-width: 1740px;
}
.menu{
    display: flex;
    background-color: white;
    text-align: center;
    align-items: center;
    justify-content: space-between;


}
.button{
    width: 247px;
    height: 56px;
    font-size: 18px;
    color: white;
    background-color: #2C3E50;
    border-radius: 50px;
}
.button:hover{
    background-color: #3d5670;
}
.main{
    max-width: 1740px;
    height: 1400px;
    background-color: white;
}
.footer{
    height: 150px;
    background-color: #3d4e5f;
}
.description{
    padding-top: 20px;
    color: #BEBEBE;
    text-align: center;
    align-items: center;
    justify-content: center;
}
#Abook{
    height: 450px;
}
.main__info{
    padding-left: 80px;
    padding-top: 20px;
}
.main__info_2{
    padding-right: 80px;
    padding-top: 20px;
    text-align: end;
    align-items: center;
}
.main__info_3{
    padding-left: 80px;
    position: relative;
    top: -140px;
}
.adress{
    position: relative;
    top: -60px;
    text-align: center;
    align-items: center;
}
