*{
    margin: 0 auto;
    padding: 0 auto;
}
.header{
    max-width: 1740px;
}
body{
    background-color: #2C3E50;
}
.menu{
    display: flex;
    background-color: white;
    text-align: center;
    align-items: center;
    justify-content: space-between;


}
.button{
    width: 247px;
    height: 56px;
    font-size: 18px;
    color: white;
    background-color: #2C3E50;
    border-radius: 50px;
}
.main{
    max-width: 1740px;
    height: 800px;
    background-color: white;
}
.footer{
    height: 150px;
    background-color: #3d4e5f;
}
.description{
    padding-top: 20px;
    color: #BEBEBE;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.main{
    text-align: center;
    align-items: center;
}
.form{

    background-color: white;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}
.Email{
    margin-top: 25px;
    width: 300px;
    height: 40px;
    background-color: #ECF0F1;
    border-radius: 50px;
}
.Password{
    margin-top: 5px;
    width: 300px;
    height: 40px;
    background-color: #ECF0F1;
    border-radius: 50px;
    margin-bottom: 5px;
}
.button:hover{
    background-color: #3d5670;
}
