*{
    margin: 0 auto;
    padding: 0 auto;
}
body{
    background-color: #2C3E50;
}
.header{
    background-color: white;
    justify-content: space-between;
    display: flex;
    flex: content;
}
.button{
    width: 247px;
    height: 56px;
    font-size: 18px;
    color: white;
    background-color: #2C3E50;
    border-radius: 50px;
}
